/* css for home.js*/

.body {
	background-color: #313131;
	background-image: url("./bg-hostel.jpg");

	/* height: 100vh; */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
